<!-- <swiper [slidesPerView]="1" [spaceBetween]="50">
    <ng-template swiperSlide *ngFor="let xs of images">
        <img  style="width: 100px;" [src]="xs" alt="">
        
    </ng-template>
</swiper> -->
<div style="height: 500px;">
    <swiper #swiper [config]="config" (slideChange)="onSlideChange()" (click)="startAutoplay()">
        <ng-template swiperSlide *ngFor="let xs of images">
            <div class="contentImg">
                <img [src]="xs" alt="">
            </div>
        </ng-template>
    </swiper>
</div>
<!-- <button (click)="nextSlide()">Siguiente</button> -->
