<!-- <p>recepcion works!</p>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-button (click)="confirm1()" icon="pi pi-check" label="Confirm"></p-button>
<p-button (click)="confirm()" icon="pi pi-check" label="Confirm"></p-button>
<p>Queridos amigos y familiares,</p>
<p>

Es un gran placer para nosotros invitarles a celebrar el día más especial de nuestras vidas. Nos complace anunciar nuestra boda y queremos compartir este momento lleno de amor y alegría con todos ustedes.

Fecha: [Fecha de la boda]
Hora: [Hora de la ceremonia]
Lugar: [Lugar de la ceremonia y la recepción]

Será un día lleno de momentos inolvidables, risas y emoción. Estamos emocionados de unir nuestras vidas y queremos que estén a nuestro lado para compartir nuestra felicidad.

Por favor, acompáñennos en este día tan significativo y ayúdennos a hacerlo aún más especial con su presencia. Su apoyo y cariño significan mucho para nosotros.

Confirme su asistencia y hágannos saber si estarán presentes en nuestra boda. Nos encantaría contar con su presencia en este capítulo tan importante de nuestras vidas.

Esperamos verlos pronto y celebrar juntos este día inolvidable.

Con cariño,
[Tu nombre] y [Nombre de tu pareja]"

Recuerda personalizar el mensaje según tus preferencias y detalles específicos de tu boda, como la fecha, hora y lugar. También puedes agregar información adicional, como el código de vestimenta, detalles de transporte, o cualquier otra instrucción relevante para los invitados.

¡Deseamos que tengas una boda maravillosa y llena de felicidad!
</p> -->

<!-- <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps> -->
<p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex"></p-steps>

<!-- <button (click)="goToNextStep()">tes</button> -->