<div class="dress-code-section">
    <h2>Código de Vestimenta</h2>

    <div class="details">
        <p>Queremos que todos se sientan cómodos y disfruten de nuestra boda, por lo que hemos establecido un código de
            vestimenta:</p>

        <ul>
            <li>Para los hombres: traje o saco y corbata.</li>
            <li>Para las mujeres: vestido de cóctel o traje elegante.</li>
            <li>Los colores a evitar son el blanco (reservado para la novia).</li>
        </ul>
    </div>
</div>