<div class="card flex justify-content-center gap-2">
  <p-toast position="top-center"></p-toast>
  <button type="button" pButton pRipple (click)="showSuccess()" label="Primer click aqui" class="p-button-success espacio"></button>
  <button type="button" pButton pRipple (click)="showInfo()" label="Segundo click aqui" class="p-button-info espacio"></button>
  <button type="button" pButton pRipple (click)="showWarn()" label="Tecer click aqui" class="p-button-warning espacio"></button>
  <button type="button" pButton pRipple (click)="showError()" label="Cuarto click aqui" class="p-button-danger espacio"></button>

</div>
