
<section>
    <!-- <p>ID: {{ id }}</p> -->
    <h1>Bienvenidos a nuestra boda</h1>
    <p><strong>{{invitado?.nombre}} {{invitado?.apellido}}</strong> ¡Nos alegra mucho que estés aquí para celebrar este día especial con nosotros! En esta página encontrarás
        información
        sobre nuestra boda, la ubicación, la recepción, las fotos y mucho más.</p>
    <p>Te invitamos a explorar cada sección y compartir con nosotros este momento lleno de amor y felicidad.</p>
    <p>Recuerda que la fecha maxima para confirmar es el 27 de marzo de 2024. Si quieres tener un detalle con los novios recuerda que es lluvia de sobres.</p>
    <!-- <p>Estamos encantados de celebrar nuestro amor y compromiso en esta maravillosa ocasión! Desde el momento en que
        nos
        conocimos, supimos que estábamos destinados a estar juntos y construir un futuro lleno de felicidad y amor
        incondicional.</p> -->
</section>