<p>home works!</p>
<div>
    <button type="button" pButton pRipple (click)="showSuccess()" label="a" class="p-button-success espacio"></button>
    <button type="button" pButton pRipple (click)="showInfo()" label="b" class="p-button-info espacio"></button>
    <button type="button" pButton pRipple (click)="showWarn()" label="c" class="p-button-warning espacio"></button>
    <button type="button" pButton pRipple (click)="showError()" label="d" class="p-button-danger espacio"></button>
  
</div>
<p-toast position="top-center"></p-toast>
