<p-toast position="top-center"></p-toast>
<!-- 
<div>
    <button type="button" pButton pRipple (click)="showSuccess()" label="a" class="p-button-success espacio"></button>
    <button type="button" pButton pRipple (click)="showInfo()" label="b" class="p-button-info espacio"></button>
    <button type="button" pButton pRipple (click)="showWarn()" label="c" class="p-button-warning espacio"></button>
    <button type="button" pButton pRipple (click)="showError()" label="d" class="p-button-danger espacio"></button>
  
</div>


<p>{{fecha}}</p>
<p>{{fecha2}}</p>
<p>{{fecha3}}</p> -->

<main>
    <section>
        <h2>Bienvenidos a nuestra boda</h2>
        <p>¡Nos alegra mucho que estés aquí para celebrar este día especial con nosotros! En esta página encontrarás
            información
            sobre nuestra boda, la ubicación, la recepción, las fotos y mucho más.</p>
        <p>Te invitamos a explorar cada sección y compartir con nosotros este momento lleno de amor y felicidad.</p>
        <p>Estamos encantados de celebrar nuestro amor y compromiso en esta maravillosa ocasión! Desde el momento en que
            nos
            conocimos, supimos que estábamos destinados a estar juntos y construir un futuro lleno de felicidad y amor
            incondicional.</p>
    </section>

    <section>

        <p>Nuestra historia de amor ha sido una montaña rusa de emociones, risas, aventuras y momentos especiales. Hemos
            superado
            desafíos juntos, hemos celebrado nuestros logros y hemos encontrado consuelo y apoyo mutuo en los momentos
            difíciles.
            Cada día a tu lado, John, me recuerda lo afortunada que soy de tenerte como mi compañero de vida. Tu amor y
            dedicación
            me inspiran a ser la mejor versión de mí misma.</p>
        <p>Laura, tu amor y ternura han iluminado mi vida desde el primer día en que te vi. Tu sonrisa contagiosa y tu
            corazón cálido han sido mi refugio seguro. No puedo esperar para embarcarnos en esta nueva etapa de nuestras
            vidas, llena de promesas y sueños compartidos.</p>
        <p>Estamos emocionados de celebrar nuestra boda rodeados de nuestros seres queridos, aquellos que nos han
            apoyado y han sido testigos de nuestro amor a lo largo de los años. Esta ocasión es un momento para honrar
            nuestras raíces, celebrar nuestras diferencias y unir nuestras familias y amigos en un solo abrazo de amor y
            felicidad.</p>
        <p>Agradecemos a cada uno de ustedes por ser parte de nuestra historia y por acompañarnos en este día tan
            especial. ¡Esperamos que disfruten de esta celebración tanto como nosotros y que la alegría y el amor llenen
            sus corazones!</p>
        <h2>Con amor,</h2>
        <h2>John y Laura</h2>
    </section>

    <!-- Aquí irían más secciones y contenido de tu página de inicio (home) -->

</main>