<!-- <div class="container">
    <div class="clock">
        <h4>Días</h4>
        <div class="time">
            <p>24</p>
        </div>
    </div>
    <div class="clock">
        <h4>Horas</h4>
        <div class="time">
            <p>24</p>
        </div>        
    </div>
    <div class="clock">
        <h4>Minutos</h4>
        <div class="time">
            <p>24</p>
        </div>
    </div>
    <div class="clock">
        <h4>Segundos</h4>
        <div class="time">
            <p>24</p>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="clock">
        <h4>Días</h4>
        <!-- <div class="time"> -->
            <p>24</p>
        <!-- </div> -->
    </div>
    <div class="clock">
        <h4>Horas</h4>
        <!-- <div class="time"> -->
            <p>24</p>
        <!-- </div> -->
    </div>
    <div class="clock">
        <h4>Minutos</h4>
        <!-- <div class="time"> -->
            <p>24</p>
        <!-- </div> -->
    </div>
    <div class="clock">
        <h4>Segundos</h4>
        <!-- <div class="time"> -->
            <p>24</p>
        <!-- </div> -->
    </div>
</div>